.main-container {
    padding: 0px 50px;
    background: green;
    margin: 10px auto;
    overflow: hidden;
}
.road-wrapper {
    /*width: 300px;*/
    /*height: 1000px;*/
    background: url("../images/bg-road.png") top left repeat-y;
    position: relative;
    /*top: -0px;*/
}
